.portrait{
  height:250px;
  width:auto;
  border-radius: 50%;
  display:block;
  margin:auto;

}
.div-name{
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

.wrapper{
  width:300px;
  height:350px;
  margin: 0 auto;
  border-style: groove;

}
