<div class="container">
  <div class="row">
    <h1 class="heading">Training Resources</h1>
  </div>
  <div class="row sectionthumb">
    <div class="col-xs-6 col-md-3">
      <h3 class="heading">Documents</h3>
      <a href="" class="thumbnail">
          <img height="256px" width="256px" src="../../../assets/images/glyphicon/document-icon.svg" onerror="this.src='../../../assets/images/glyphicon/document-icon.png'" />
      </a>
    </div>

    <div class="col-xs-6 col-md-3">
      <h3 class="heading">Training Videos</h3>
      <a href="" class="thumbnail">
        <img height="256px" width="256px" src="../../../assets/images/glyphicon/video-icon.svg" onerror="this.src='../../../assets/images/glyphicon/video-icon.png'" />
      </a>

    </div>

    <div class="col-xs-6 col-md-3">
      <h3 class="heading">Photos</h3>
      <a href="" class="thumbnail">
        <img height="256px" width="256px" src="../../../assets/images/glyphicon/camera-icon.svg" onerror="this.src='../../../assets/images/glyphicon/camera-icon.png'" />
      </a>
    </div>

  </div>
</div>
